<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .box{
            width:400px;
            margin:50px auto;
        }
        input{
            width:200px;
            height:30px;
            border-radius: 10px;
            margin: 20px;
            border:1px solid #EE9CA7;
            outline-color:#EE9CA7 ;
        }
        button{
            width:80px;
            height:40px;
            background-color: green;
            margin-left: 350px;
            border:none;
            border-radius: 5px;
        }
    </style>
</head>
<body>
<div class="box">
    <h1>修改密码：</h1>
    <div>
        用户名：<input type="text" id="name"><br>
        邮&nbsp;&nbsp;&nbsp;&nbsp;箱：<input type="email" id="email"><br>
        新密码：<input type="password" id="password"><br>
        <button id="hold">保存</button>
    </div>
</div>
            <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
            <script>
                $(()=>{
                    $("input").val("");
                    $("#hold").click(()=>{
                        if($("#name").val()==""|$("#email").val()==""|$("#password").val()=="")
                        {alert("不能有空")}
                        else{
                            $.ajax({
                                url:"/updatePassword",
                                data:{
                                    "user_name":$("#name").val(),
                                    "user_email":$("#email").val(),
                                    "user_password":$("#password").val(),
                                },
                                success:function(res){
                                    if(res==1)
                                        alert("用户名不存在");
                                    if(res==2)
                                        alert("用户名与邮箱不匹配");
                                    window.location.href = "/password"
                                    if(res==0) {
                                        alert("成功");
                                        window.location.href = "/"
                                    }
                                }
                            })

                        }

                    })
                })
            </script>

</body>
</html>